/* 
Fuentes:
font-family: 'Questrial', sans-serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Ysabeau Office', sans-serif; 

Colores:
Fucsia: #FF5BDE (el color en las historias y el letrero "Girls Places" del local)
Gris: #90A6BB (apróx., basado en el frente del local)
Rosa: #DD929C (apróx., basado en el interior del local)
Blanco (junto al gris y el rosa que predominan en el local)
Negro (hay cartelería en negro, en vidriera, no es predominante)
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===== ESTRUCTURA GENERAL DEL SITIO =====*/

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 3fr 0.5fr;
    grid-template-areas: 'h h h h h h'
                         'm m m m m m'
                         'f f f f f f';
    row-gap: 4%;
    margin: 2%;
    margin-top: 0%;

}

.header{
    grid-area: h;
    text-align: center;

    border-bottom-width: 1%;
    border-bottom-color: #FF5BDE;
    border-bottom-style: solid;

}

.menu{
    /* Se utiliza grid para que el menú "Nosotras" quede alineado con el logo */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
}

.menu a{
    text-decoration: none;
    font-family: 'Ysabeau Office', sans-serif; 
    font-weight: 700;
    color: #FF5BDE;
    margin-right: 2%;
    font-size: 120%;
}

.menu a:visited{
    color: #FF5BDE;
}

.menu a:hover{
    background-color: rgb(207, 207, 207);
    border-radius: 5%;
}

.main{
    grid-area: m;
}

.footer{
    grid-area: f;
    background-color: #FF5BDE;
    color: white;
}

.links_footer{
    text-align: right;
    display: block;
    margin: 0.5%;
    text-decoration: none;
    font-family: 'Ysabeau Office', sans-serif; 

}

.footer a:visited{
    color: white;
}




/*===== FIN ESTRUCTURA GENERAL DEL SITIO =====*/



/*===== CONTENIDO =====*/

h3{
    font-family: 'Ysabeau Office', sans-serif; 
    font-size: 125%;
    color: #FF5BDE;
    margin-bottom: 2%;
}

p{
    font-family: 'Questrial', sans-serif;
    color: #90A6BB;
    line-height: 150%;
    /* padding: 1%; */
}

video{
    box-shadow: 1rem 1rem 3rem #FF5BDE, -1rem -1rem 3rem #FF5BDE;
    height: 100%;
    max-height: 550px;
}

.article{
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    grid-template-rows: 0.1fr 0.9fr;
    column-gap: 2%;
    grid-template-areas: 'title title' 
                         'art aside';
    justify-content: center;

}


.title{
    grid-area: title;
}

.art{
    grid-area: art;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.aside{
    grid-area: aside;
}

#map{
    /* margin-left: 30%; */
    width: 100%;
}


/*  */
@media screen and (max-width:700px){
    .article{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.3fr 0.6fr;
        column-gap: 2%;
        grid-template-areas: 'title' 
                             'aside'
                             'art';
        justify-items: center;
        gap: 2%
    
    }

    video{
        height: auto;
        width: 100%;
        max-width: 367px;
    }

    #map{
        margin-left: 0%;
        width: 100%;
        
    }
    
}

/*===== FIN CONTENIDO =====*/