/* 
Fuentes:
font-family: 'Questrial', sans-serif;
font-family: 'Qwitcher Grypen', cursive;
font-family: 'Ysabeau Office', sans-serif; 

Colores:
Fucsia: #FF5BDE (el color en las historias y el letrero "Girls Places" del local)
Gris: #90A6BB (apróx., basado en el frente del local)
Rosa: #DD929C (apróx., basado en el interior del local)
Blanco (junto al gris y el rosa que predominan en el local)
Negro (hay cartelería en negro, en vidriera, no es predominante)
*/

:root{
    --fucsia: #FF5BDE;
    --gris: #90A6BB;
    --rosa: #DD929C;
    --blanco: rgb(255, 255, 255);
    --fuente_texto: 'Questrial', sans-serif;
    --fuente_titulos: 'Ysabeau Office', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente_texto);
}

/*===== ESTRUCTURA GENERAL DEL SITIO =====*/

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.5fr 3fr minmax(0.5fr, 100px);
    grid-template-areas: 'h h h h h h'
                         'm m m m m m'
                         'f f f f f f';
    row-gap: 1%;
    margin: 2%;
    margin-top: 0%;

}

.header{
    grid-area: h;
    text-align: center;

    border-bottom-width: 1%;
    border-bottom-color: var(--fucsia);
    border-bottom-style: solid;

}

.menu{
    /* Se utiliza grid para que el menú "Nosotras" quede alineado con el logo */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
}

.menu a{
    text-decoration: none;
    font-family: var(--fuente_titulos); 
    font-weight: 700;
    color: var(--fucsia);
    margin-right: 2%;
    font-size: 120%;
}

.menu a:visited{
    color: var(--fucsia);
}

.menu a:hover{
    /* background-color: rgb(207, 207, 207); */
    text-shadow: 0px 5px 10px var(--fucsia), 0px -5px 10px var(--fucsia);
    border-radius: 5%;
}

.main{
    grid-area: m;
}

.footer{
    grid-area: f;
    background-color: var(--fucsia);
    color: var(--blanco);
}

.links_footer{
    text-align: right;
    display: block;
    margin: 0.5%;
    text-decoration: none;
    font-family: var(--fuente_titulos); 

}

.footer a:visited{
    color: var(--blanco);
}


.footer img {
    width: 25px;
    margin: 0 5px;
    padding: 5px;
}
.footer__container{
    display: flex;
    justify-content: space-between;
}

.footer__right {
    width: 50%;
}

.footer__left {
    display: flex;
    align-items: center;
    color: var(--blanco);
    width: 50%;
}
.footer__left ul {
    display: flex;
}

#cartel-luminoso{
    position: relative;
    transform: skew(-15deg, -10deg);
    text-shadow: 0;
    animation-name: efecto_luminoso;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: var(--fucsia);
    font-family: 'Qwitcher Grypen', cursive;
    word-spacing: 10px;
    letter-spacing: 10px;
    font-size: 300%;
    text-align: right;
    padding-right: 5%;
    z-index: -1; /*se envía "atrás" porque al minimizar la pantalla, tapaba otros elementos y no se podía interactuar en ellos*/
}

.header img{
    display: inline;
}

@keyframes efecto_luminoso{
    0% {text-shadow: 2px 2px 2px gray;}
    90% {text-shadow: 0}
    30% {text-shadow: 2px 2px 5px #8a0c71;}
    65% {text-shadow: 0}

    80% {text-shadow: 2px 2px 2px gray;}
    85% {text-shadow: 0}
    90% {text-shadow: 2px 2px 5px #8a0c71;}
    95% {text-shadow: 0} 

}



/*===== FIN ESTRUCTURA GENERAL DEL SITIO =====*/



/*===== CONTENIDO =====*/

h3{
    font-family: var(--fuente_titulos); 
    font-size: 125%;
    color: var(--fucsia);
    margin-bottom: 2%;
}
h2 {
    font-family: var(--fuente_titulos);
    font-size: 125%;
    color: var(--fucsia);
    margin-bottom: 2%;
}
p{
    color: var(--gris);
    line-height: 150%;
    /* padding: 1%; */
}


.article{
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    grid-template-rows: minmax(0.1fr,60px) 0.9fr;
    column-gap: 2%;
    grid-template-areas: 'title title' 
                         'art aside';
    justify-content: center;

}


.title{
    grid-area: title;
}

.art{
    grid-area: art;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    overflow: auto;
}

.aside{
    grid-area: aside;
    position: relative;;
}

video.aside{
    box-shadow: 0rem 1rem 3rem var(--fucsia), 0rem -1rem 3rem var(--fucsia);
    height: 100%;
    max-height: 550px;
}

img.aside{
    position: sticky;
    top:0;
}

#map{
    /* margin-left: 30%; */
    width: 100%;
}

.grilla_productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    gap: 5%;
    overflow: auto;
    padding-bottom: 5%;
}

.producto{
    width: 20%;
    max-width: 200px;
    text-align: center;
    margin-top: 2%;
    padding: 2%;
    box-shadow: 0.5rem 0.5rem 1rem var(--gris);
    /* border-radius: 10px; */
    border-color: var(--gris);
}

.producto img{
    width: 75%;
    height: auto;
    border-radius: 10px;
}


/* Dispositivo móvil */
@media screen and (max-width:539px){
    /*===== ESTRUCTURA GENERAL DEL SITIO MOBILE =====*/
    .container{
        grid-template-rows: 0.2fr 3fr 0.2fr;
        row-gap: 0.2%;
    }

    /*===== FIN ESTRUCTURA GENERAL DEL SITIO MOBILE =====*/

    .article{
        grid-template-columns: 1fr;
        grid-template-rows: 0.01fr 0.01fr 1.5fr;
        column-gap: 2%;
        grid-template-areas: 'title' 
                             'aside'
                             'art';
        justify-items: center;
        gap: 0%;
    }

    video.aside{
        height: auto;
        width: 100%;
        max-width: 367px;
    }

    img.aside{
        position: inherit;
        bottom: 0;
        height: 300px;
        width: auto;
    }

    #map{
        margin-left: 0%;
        width: 100%;
        
    }

    .producto{
        width: 45%;
    }
    
}

/*  Estilos para el slider  */

.main__principal {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 10px auto;
    border-radius: 8px;
    align-items: center;
    
    height: max-content;
}

main .slider {
    background-color: var(--rosa);
    padding: 40px 0 ;
    height: 2%;
    border-radius: 8px;
    flex-wrap: wrap;
    display: block;
    width: 100%;
    margin: 20px auto;
}

main  .slider__container {
    display: grid;
    grid-template-columns:  1fr ; 
    width: 90%;
    margin: auto;
    border-radius: 8px;
} 

main .slider__body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    border-radius: 10px;
    background-color: var(--gris);
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    
}


main .slider__body--show {
    opacity: 1;
    pointer-events: unset;
}

main .slider__img {
    width: 230px;
    height: 230px;
    background-color: var(--fucsia);
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

main .subtitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

main .slider__review {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
    color: black;
}


@media(max-width: 540px){
    main .slider__body {
        display: flex;
        flex-direction: column;
    }
    

    main .slider__img {
        width: 100%;
        
    }

    
}



/*  Estilos para el showroom del main.  */

/* ------ contenedor de titulo y controles ------*/

.contenedor_titulo_botones {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor_titulo_botones h3 {
    color: #000;
    font-size: 30px;
}

.contenedor_titulo_botones .indicadores button {
    background: var(--fucsia);
    height: 5px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 3px;
}

.contenedor_titulo_botones .indicadores button:hover,
.contenedor_titulo_botones .indicadores button.activo {
    background: red;
}

/*----- contenedor principal del carousel y flechas ------*/
.productos__recomendados {
    margin-bottom: 70px;
    width: 90%;
    margin: auto;
    background-color: beige;
}

.productos__recomendados .contenedor_principal_recomendados {
    display: flex;
    align-items: center;
    position: relative;
}

.productos__recomendados .contenedor_principal_recomendados .flecha_izquierda,
.productos__recomendados .contenedor_principal_recomendados .flecha_derecha {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, .3);
    font-size: 30px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.productos__recomendados .contenedor_principal_recomendados .flecha_izquierda:hover,
.productos__recomendados .contenedor_principal_recomendados .flecha_derecha:hover {
    background-color: rgba(0, 0, 0, .9);
}

.productos__recomendados .contenedor_principal_recomendados .flecha_izquierda {
    left: 0;
}
.productos__recomendados .contenedor_principal_recomendados .flecha_derecha {
    right: 0;
}

.productos__recomendados .carousel_productos {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.productos__recomendados .carousel_productos .todos_los_productos {
    display: flex;
    flex-wrap: nowrap;
}

.productos__recomendados .carousel_productos .todos_los_productos .productos {
    min-width: 20%;
    transition: .3s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    margin: 0 2px;
}

.productos__recomendados .carousel_productos .todos_los_productos .productos:hover {
    transform: scale(1.2);
    transform-origin: center;
}

.productos__recomendados .carousel_productos .todos_los_productos .productos img {
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
}

@media(max-width: 700px){
    .productos__recomendados .carousel_productos {
        overflow: visible;
    }
    .productos__recomendados .carousel_productos .todos_los_productos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .productos__recomendados .indicadores,
    .productos__recomendados .flecha_izquierda,
    .productos__recomendados .flecha_derecha {
    display: none;
}
}

/* Tabletas */

@media screen and (min-width:540px) and (max-width:1020px){
    .article{
         grid-template-columns: 0.75fr 0.25fr;
    }
    img.aside{
        width: 200px;
        height: auto;
    }

    .producto{
        min-width: 120px;
    }
}

.faq {
    margin-bottom: 20px;
    text-align: center; 
}

.question {
    cursor: pointer;
    font-weight: bold;
}

.answer {
    display: none;
    margin: 0 auto; 
    max-width: 600px; 
}

.title {
    text-align: center; 
}


.contact{
    width: 600px;
    
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 50px;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__campo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__campo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__campo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__campo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
/*===== FIN CONTENIDO =====*/